[project]
	description = \"scp_ric_app_kpimon\"
[access]
	inheritFrom = scp
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/o-ran-sc-gerrit-scp-ric-app-kpimon-committers
	read = group GitHub Replication
	push = +force group saml/o-ran-sc-gerrit-scp-ric-app-kpimon-committers
[receive]
	requireContributorAgreement = false
[plugin "its-jira"]
	enabled = true
